{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
     {{parent()}}
    
     
     {# {{dump(posts)}}  #}


<section class="section-form">
        <div class="contenedor">
            <div class="cabecera">
               <h2 style="color: white;"> Publica Aqui</h2>
            </div>
            <br>

            {{form(form)}}
            </div>
    </section>

    <br>
    <section class="section-form">
    <div class="contenedor">
            <div class="cabecera">
    <table style="background-color:grey;" border="1px">
        <thead style="background-color:grey;">
        <tr>

            <td>id</td>
            <td>titulo</td>
            <td>comentario</td>
            <td>fecha</td>
        
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}

            <tr>
                <td ><a href="{{ path('postDetalles', {id:post.id}) }}">Ver</a></td> 
                <td>{{post.titulo}}</td> 
                <td>{{post.comentario}}</td> 
                <td>{{post.fecha_publicacion | date}}</td> 
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </section>
{% endblock %}
 