{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

     {{form(form)}} 
     
     {# {{dump(posts)}}  #}


    <table>
        <thead>
        <tr>

            <td>id</td>
            <td>titulo</td>
            <td>comentario</td>
            <td>fecha</td>
        
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}

            <tr>
                <td><a href="{{ path('postDetalles', {id:post.id}) }}">Ver</a></td> 
                <td>{{post.titulo}}</td> 
                <td>{{post.comentario}}</td> 
                <td>{{post.fecha_publicacion | date}}</td> 
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
 